$white: #FFF;
$black: #000;
$gray: #CCC;
$background: #F2F2F2;
$primary: #03363D;
$primaryDark: #011f23;
$primaryLight: #046673;
$disabledBackground: #CCC;
$disabledColor: #666;
$valid: #4CAF50;
$invalid: #EF5350;
$errorBackground: #F9DBE1;
$errorBorder: #F87E96;
$errorColor: #F9224C;